*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
}
.logo img{
    width: 180px;
    margin: 5px;
}
.search{
    width: 100%;
}
.search input{
    width: 250px;
    height: 30px;
    margin: 14px;
    border-radius: 5px;
}
button{
    height: 30px;
    border-radius: 5px;
    background-color:rgb(168, 117, 16);
}
.bell{
    display: flex;
    align-items: center;
}
.bell img{
    width: 20px;
    margin: 20px;
}
.user{
    border: 1px solid black;
    margin-right: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 2px 4px;
}
.user span{
    font-size: 14px;
}
.main{
    width: 100%;
    height: 535px;
    background-color: rgb(231, 225, 225);
    display: flex;
}
.left{
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.up{
    flex: 2;
    padding: 10px;
    /* background-color: yellow; */
}
.item{
    padding: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid rgb(169, 157, 157);
    border-radius: 5px;
    margin-top: 8px;
}
.item img{
    width: 15px;
}
.down{
    flex: 1;
    padding: 0 10px;
    /* background-color: antiquewhite; */
}
.child{
    padding: 20px;
    background-color: rgb(231, 225, 225);
}
.childimg{
    height: 130px;
    border-radius: 7px;
}
.childimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}
.right{
    flex: 3;
    display: flex;
    /* background-color: green; */
}
.right1{
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* background-color: greenyellow; */
}
.food1{
    flex: 1;
    /* background-color: black; */
}
.menues{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 15px;
}
.menu1{
 background-color: white;
 padding: 10px;
 width: 120px;
 display: flex;
 align-items: center;
 gap: 4px;
 border-radius: 7px;
}
.menu1 img{
    width: 30px;
    border-radius: 7px;
}
.food2{
    flex: 2;
    margin-top: 8px;
    /* background-color: skyblue; */
}
.burgers{
 display: flex;
 flex-wrap: wrap;
 gap: 15px;
}
.burger{
    width: 210px;
    height: auto;
    background-color: white;
    padding: 15px;
}
.burgerimg{
    height: 80px;
    background-color: rgb(231, 225, 225); 
    text-align: center;
    padding: 10px 0;
}
.burgerimg img{
    width: 60px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content img{
    width: 12px;
}
.btn{
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn .one{
    width: 100%;
    border: none;
    background-color: rgb(231, 225, 225); 
}
.btn .two{
    width: 100%;
    background-color: rgb(194, 107, 94); 
    border: none;
    color: white;
}
.right2{
    flex: 1;
    padding: 20px 0;
    padding-right: 8px;
    /* background-color: yellow; */
}
.inner{
    background-color: white;
    height: 100%;
    border-radius: 7px;
    padding: 8px;
}
.summary1{
    display: flex;
    gap: 5px;
    align-items: center;
   margin-top: 10px;
}
.summary1 img{
    width: 50px;
    object-fit: cover;
    
}
.summaryimg{
    width: 60px;
    height: 50px;
    background-color: rgb(231, 225, 225); 
    padding: 5px 0;
    padding-left: 4px;
    display: flex;
    border-radius: 7px;
}
.price span{
   color: rgb(210, 142, 15);
}
.paymentSummary{
    padding: 10px;
}
.paymentSummary1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    padding-left: 1px;
}
.paymentSummary2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    padding-left: 1px;
    padding-top: 8px;
}

.payment{
    width: 210px;
    height: auto;
    background-color: rgb(231, 225, 225); 
    margin-top: 10px;
    border: 3px dashed rgb(181, 178, 178);
}
.pays{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}
.pay-img{
    background-color: white;
    width: 86px;
    text-align: center;
}
.pay-img img{
    width: 40px;
}
.paymentMethod{
    padding: 4px 10px;
    border-radius: 4px;
}
.payment button{
    width: 100%;
    border: none;
    color: white;
    background-color: rgb(255, 170, 0);
    padding: 6px 0;
    margin-top: 8px
}